PORT=5000
MONGODB_URI=MONGODB_URI=mongodb+srv://admin:40K7VELFiSqQz0NP@cluster0.tj9rv4n.mongodb.net/teamCollaborationBoard
JWT_SECRET=mySecretKey123abc
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:3000
NODE_ENV=production
EMAIL_USER=shusmitadasgupta@gmail.com
EMAIL_PASS=denfwwpwdfiefcyj
